@media only screen and (min-width:350px){
    .mainHeader{
        width: 100%;
        height: 40px;
        padding: 0 20px;
        background-color: rgb(48,63,159);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navBar{
        // height: 100%;
        // width: 100px;
        background-color:rgb(26,35,126);
        display: flex;
        flex-direction: column;
        align-items:baseline;
        justify-content: space-between;
        // .navBarBody{
        //     height: 600px;
        //     & > div{
        //         height: 50%;
        //     }
        // }
    }
    .navBarButton{
        // width: 100px;
        // height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            // width: 70px;
            // height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 5px;
            color:white;
            text-decoration: none;
            font-family: Helvetica, sans-serif;
            &.active{
                background-color:rgb(48,63,159);
            }
            // img{
            //     width: 30px;
            //     height: 30px;
            // }
            // span{
            //     font-size: 14px;
            // }
        }
    }
}

@media only screen and (min-width:576px){
    .mainHeader{
        display: none;
    }
}
@media only screen and (min-width:991px){
    .navBar{
        height: 100%;
        width: 80px;
        .navBarBody{
            height: 500px;
            & > div{
                height: 50%;
            }
        }
    }
    .navBarButton{
        width: 80px;
        height: 80px;
        a{
            width: 55px;
            height: 55px;
            img{
                width: 25px;
                height: 25px;
            }
            span{
                font-size: 14px;
            }
        }
    }
}
@media only screen and (min-width:1200px){
    .navBar{
        width: 100px;
        .navBarBody{
            height: 600px;
        }
    }
    .navBarButton{
        width: 100px;
        height: 100px;
        a{
            width: 70px;
            height: 70px;
            img{
                width: 30px;
                height: 30px;
            }
            span{
                font-size: 14px;
            }
        }
    }
}